
body {
    height: 100vh;
}
main {
    height: 100%;
    background-image: url("../img/15br-mandoltm-social-newsheader-1920x1080-c670ddb2fea1.png");

    color: cornsilk;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

